<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Classifying <%= limit %> tweets about <%= hashtag %>...</p>
    <p>No. of positive tweets: <span id="no-pos">0</span></p>
    <p>No. of negative tweets: <span id="no-neg">0</span></p>
    <p>Accuracy: <span id="accuracy"></span></p>
    <p>
      Tick the checkbox on all correctly labelled tweets to check accuracy
      <input type="button" value="Finished labelling" id="done">
    </p>
    <div id="tweetbox">
    </div>
    <script type="text/javascript">
    $(function() {
      var posCount = 0;
      var negCount = 0;
      var socket = io.connect('http://localhost:8080');
      socket.on('data', function (data) {
        if(data.polarity == 1) {
          posCount++;
          var tweetClass = "pos-tweet";
        }
        else if(data.polarity == 0) {
          negCount++;
          var tweetClass = "neg-tweet";
        }
        $('#no-pos').text(posCount);
        $('#no-neg').text(negCount);
        $('#tweetbox').append('<p> \
          <span class="' + tweetClass + '">' + data.text + '</span> \
          <input type="checkbox" name="' + tweetClass + '"> \
          </p>');
        $('#done').click(function() {
          var checkboxes = $('input:checkbox');
          var count = 0;
          var total = <%= limit %>;
          for (var i = 0; i < checkboxes.length; i++) {
            if((checkboxes[i].checked == true) && (checkboxes[i].name == 'pos-tweet')) {
              count++;
            }
            else if((checkboxes[i].checked == false) && (checkboxes[i].name == 'neg-tweet')) {
              count++;
            }
          }
          $('#accuracy').text(100 * count / total + "%");
        });
      });
    });
    </script>
  </body>
</html>
