<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Classifying <%= limit %> tweets about <%= hashtag %>...</p>
    <p>No. of positive tweets: <span id="no-pos">0</span></p>
    <p>No. of negative tweets: <span id="no-neg">0</span></p>
    <div id="tweetbox">
    </div>
    <script type="text/javascript">
    $(function() {
      var posCount = 0;
      var negCount = 0;
      var socket = io.connect('http://localhost:8080');
      socket.on('data', function (data) {
        if(data.polarity == 1) {
          posCount++;
          var tweetClass = "pos-tweet";
        }
        else if (data.polarity == 0) {
          negCount++;
          var tweetClass = "neg-tweet";
        }
        $('#no-pos').text(posCount);
        $('#no-neg').text(negCount);
        $('#tweetbox').append('<p class="' + tweetClass + '">' + data.text + '</p>');
      });
    });
    </script>
  </body>
</html>
